@{
    ViewBag.Title = "Account | Change Password";
}
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<link rel="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
<link href="~/Assets/site.css" rel="stylesheet" />

<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-title" style="width:100%; padding:10px 0;">
                                    <h1 style="color:white !important;">
                                        Change Password
                                        <small style="color:white !important;">Using your pre-registered account</small>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-lg-12 col-xs-12 col-sm-12">
                                    <div class="portlet light ">
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                                    <div class="portlet light bordered">
                                                        <div class="portlet-title">
                                                            <div class="caption font-dark">
                                                                <i class="icon-key font-dark"></i>
                                                                <span class="caption-subject bold uppercase font-dark">Change Password</span>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body">
                                                            @using (Html.BeginForm("ChangePassword", "Account"))
                                                            {
                                                                <table style="padding:10px">
                                                                    <tr style="padding:10px">
                                                                        <td style="padding:10px">
                                                                            <div class="field">
                                                                                <label for="username">Current Password</label>
                                                                            </div>
                                                                        </td>
                                                                        <td style="padding:10px">
                                                                            <div class="field">
                                                                                <input type="password" id="currentPassword" name="currentPassword" value="" placeholder="Current Password" class="form-control" />
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:10px">
                                                                            <div class="field">
                                                                                <label for="password">New Password</label>
                                                                            </div>
                                                                        </td>
                                                                        <td style="padding:10px">
                                                                            <div class="field">
                                                                                <input type="password" id="newPassword" name="newPassword" value="" placeholder="New Password" class="form-control" />
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:10px">
                                                                            <div class="field">
                                                                                <label for="password">Confirm Password</label>
                                                                            </div>
                                                                        </td>
                                                                        <td style="padding:10px">
                                                                            <div class="field">
                                                                                <input type="password" id="confirmNewPassword" name="confirmNewPassword" value="" placeholder="Confirm New Password" class="form-control" />
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2" style="padding:10px">
                                                                            <center>
                                                                                <div class="login-actions">
                                                                                    <button class="btn btn-lg" style="background-color: #234285;color: white;">Submit</button>
                                                                                </div>
                                                                            </center>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            }
                                                        </div>
                                                    </div>

                                                    <!-- Left and right controls -->
                                                    @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>*@

                                                </div>
                                            </div>
                                        </div>
                                        <!-- END PAGE CONTENT INNER -->
                                    </div>
                                </div>
                                <!-- END PAGE CONTENT BODY -->
                                <!-- END CONTENT BODY -->
                            </div>
                            <!-- END CONTENT -->
                        </div>
                        <!-- END CONTAINER -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>