

<div class="col-md-12" style="padding: 0px 0px 0px 0px !important;">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light bordered">
        <div class="portlet-body">
            <div id="dashboard_amchart_3" class="CSSAnimationChart"></div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
