

<div class="col-md-12" style="padding: 0px 0px 0px 0px !important;">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light bordered">
        <div class="portlet-body">
            <div id="rain_map1" class="gmaps"> </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>